@charset "UTF-8";

@media print {
    body::after {
        content: 'Criado por Gustavo Silva Santos e Fernando Rocha';
    }
}

@media (min-width: 768px) {
    body, main {
        background-image: url(../Img/Background/Telas-Grandes.jpg);
    }
}

/* TELAS MAIORES */
@media (min-width: 481px) {
    .header-container .logo {
        width: 90px;
        height: 90px;
    }

    .header-container h1 {
        font-size: 2.4em;
    }

    .nav-container .routes {
        flex-grow: 1;
    }

    .nav-container .routes:hover {
        transform: scale(1.05);
    }
}

/* TELAS GRANDES */
@media (min-width: 768px) {

}

/* TELAS ENORMES */ 
@media (min-width: 992px) {

}