body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.galeria-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin-top: 30px;
}

.imagem-zoom-container{
    width: 300px;
    height: 450px;
    overflow: hidden;
}

#imagem-principal {
    width: 100%;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

#imagem-principal:hover {
    transform: scale(1.4);
}

.seta {
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.miniaturas {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.miniatura {
    width: 60px;
    cursor: pointer;
    border: 2px solid transparent;
}

.miniatura.ativa {
    border-color: black;
}