@charset "UTF-8";

@media screen and {
    
}

@media screen and (min-width: 1080px) and (max-width: 1400px){
    body, main {
        background-image: url(../Img/colecao-abundante-de-livros-antigos-em-prateleiras-de-madeira-geradas-por-ia.jpg);
    }
}