@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(126, 58, 58);
    font-family:"Cause" ;
    padding: 10px;
}

nav{
    text-align: right;
    
}


body, main  {
    background-image:url(../Img/Biblioteca\ Phone.png) ;
    background-size: cover;
    width: 100vw;
}

@media screen and (min-width: 1080px) and (max-width: 1400px){
    body, main {
        background-image: url(../Img/colecao-abundante-de-livros-antigos-em-prateleiras-de-madeira-geradas-por-ia.jpg);
    }
}
