@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

:root {
    --h1: "Charm", cursive; /* Fonte do Título */
    
    /* Site Colors */
    --Marrom: #4A2C2A; /* Logo */
    --Bege: #F2E8D5; /* Fundo */
    --Verde-Musgo: #4F6F52; /* Detalhes */
    --Dourado-Suave: #C9A24D; /* Logo */
    --Cinza-Grafite: #2E2E2E; /* Textos */
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100dvh;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Header */

header{
    background-color: var(--Marrom);
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.header-container h1 {
    font-family: var(--h1);
    font-size: 1.9em;
    color: var(--Bege);
    font-weight: bold;
}

.header-container .logo {
    width: 50px;
    height: 50px;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.nav-container > .routes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: var(--Bege);

    opacity: 0.6;
    padding: 8px 12px;
    
    border: 1px solid var(--Marrom);
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
}

.nav-container .routes:hover {
    background-color: #543a38;
    opacity: 1;
    border: 1px solid rgb(48, 48, 48);
    color: var(--Bege);
    transition: background-color 0.2s ease, color 0.3s ease, border 0.2s ease;
}

/* Search-box */

.navbar {
    display: flex;
    background-color: #55312f;
    padding: 6px;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;

    width: 95%;
    max-width: 520px;

    background-color: #fff;
    border-radius: 20px;
    padding: 4px;
}

#pesquisa {
    flex: 1;
    border: none;
    outline: none;

    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
}

.filter-button {
    background-color: var(--Marrom);
    color: var(--Bege);
    
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.filter-button:hover {
    background-color: #543a38;
}

/* Main */

main {
    background-image:url(../Img/background/Phone-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
}

main > .section-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
    justify-content: space-around;
    gap: 10px;
}

.section-container > .tema {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: auto;
    max-width: 180px;
    height: auto;
    margin-top: 10px 0px;
    background-color: gray; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
    opacity: 0.95;
}

.section-container > .tema:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
    opacity: 1;
}

.section-container > .tema h2 {
    font-size: 1.5em;
    color: var(--Marrom);
}

.section-container > .tema > a > img {
    flex: auto;
    width: 100%;
    height: 90%;
    background-color: transparent;
    padding-top: 5px;
    border-radius: 10px;
}

/* Footer */

.site-footer {
    background-color: var(--Cinza-Grafite);
    color: var(--Bege);
    padding: 10px 5px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.footer-section h3, .footer-section h4 {
    margin-bottom: 8px;
}

.footer-section img {
    width: 230px;
    height: 230px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: var(--Bege);
    text-decoration: none;
}

.footer-bottom a:hover, .footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9em;
}
