@charset "UTF-8";

@media print {
    body::after {
        content: 'Criado por Gustavo Silva Santos e Fernando Rocha';
    }
}

@media (min-width: 768px) {
    body, main {
        background-image: url(../Img/Background/Telas-Grandes.jpg);
    }
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }

    main {
        min-height: 100svh;
    }

    .title-container .logo {
        width: 75px;
        height: 75px;
    }

    .title-container h1 {
        font-size: 1.6em;
    }

    .nav-container .routes {
        flex-grow: 0;
    }
    
    .nav-container .routes:hover {
        transform: none;
    }
}