@charset "UTF-8";

@media print {
    body::after {
        content: 'Criado por Gustavo Silva Santos e Fernando Rocha';
    }
}

@media (max-width: 480px) {
    .title-container .logo {
        width: 75px;
        height: 75px;
    }

    .title-container h1 {
        font-size: 1.6em;
    }

    .nav-container .routes {
        flex-grow: 0;
    }
    
    .nav-container .routes:hover {
        transform: none;
    }
}