@charset "UTF-8";

@media print {
    body::after {
        content: 'Criado por Gustavo Silva Santos e Fernando Rocha';
    }
}

@media (min-width: 768px) {
    body, main {
        background-image: url(../Img/Background/Telas-Grandes.jpg);
    }
}

/* TELAS MAIORES */
@media (min-width: 481px) {
    .title-container .logo {
        width: 120px;
        height: 120px;
    }

    .title-container h1 {
        font-size: 2.5em;
    }

    .nav-container .routes {
        flex-grow: 1;
    }

    .nav-container .routes:hover {
        transform: scale(1.05);
    }
}

/* TELAS GRANDES */
@media (min-width: 768px) {

}

/* TELAS ENORMES */ 
@media (min-width: 992px) {
    
}