@charset "UTF-8";

@media print {
    body::after {
        content: 'Criado por Gustavo Silva Santos e Fernando Rocha';
    }
}

@media (min-width: 768px) {
    body, main {
        background-image: url(../Img/Background/Telas-Grandes.jpg);
    }
}

